:root {
  --color-primary: #00897b;
  --color-primary-light-5: #e0f2f1;
  --color-primary-light-4: #b2dfdb;
  --color-primary-light-3: #80cbc4;
  --color-primary-light-2: #4db6ac;
  --color-primary-light-1: #26a69a;
  --color-primary-dark-1: #00796b;
  --color-primary-dark-2: #00695c;
  --color-primary-dark-3: #004d40;

  --color-secondary: #f4511e;
  --color-secondary-light-5: #fbe9e7;
  --color-secondary-light-4: #ffccbc;
  --color-secondary-light-3: #ffab91;
  --color-secondary-light-2: #ff8a65;
  --color-secondary-light-1: #ff7043;
  --color-secondary-dark-1: #e64a19;
  --color-secondary-dark-2: #d84315;
  --color-secondary-dark-3: #bf360c;

  --image-poet-primary: "";

  --image-background-primary: "";
  --image-background-secondary: "";

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

$bp-largest: 75em;
$bp-smallest: 37.5em;

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary-light-3);
  background-size: cover;
  min-height: 100vh;
  // background-image: linear-gradient(
  //   to right bottom,
  //   var(--color-primary-dark-1),
  //   var(--color-primary-dark-3)
  // );
  transition: all 0.3s;
  background-color: var(--color-primary-dark-2);
}

body.body-b {
  background-color: var(--color-secondary-dark-2);
  color: var(--color-secondary-light-3);
}
